@use 'variabili' as myVariables;

body {
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary {
  background-color: myVariables.$brand-secondary;
  border-color: myVariables.$brand-secondary;

  &:hover,
  &:focus {
    background-color: myVariables.$brand-secondary-hover;
    border-color: myVariables.$brand-secondary-hover;
  }
}
