@use 'variabili' as myVariables;

#servizi {
  .card {
    box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.25);
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;

    &:hover {
      transform: translateY(-2px);
      box-shadow: myVariables.$card-shadow-hover;
    }
  }
}
